@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Roboto", sans-serif;
  }
  .font-title {
    font-family: "Montserrat", "Roboto", sans-serif;
  }
  /* common */
  .ribbon {
    width: 120px;
    height: 116px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border: 5px solid #16a34a;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 216px;
    padding: 15px 0;
    background-color: #16a34a;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 14px/1 "Lato", sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
  }

  /* top left*/
  .ribbon-top-left {
    top: -10px;
    left: -10px;
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
  }

  .sparator_bottom_center:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -18px;
    bottom: 0;
    width: 60px;
    border-bottom: 3px solid #f1f1f1;
  }

  .hamburger_bar {
    @apply w-[32px] h-[2px] my-2 block bg-stone-700;
  }
}
